/* 
.lumanosimo-regular {
  font-family: "Lumanosimo", cursive;
  font-weight: 400;
  font-style: normal;
}
.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: "Playfair display", sans-serif;
    background-image: linear-gradient(rgb(0, 0, 200),rgb(0, 0, 90));
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 0.3em;
}

#search-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#movie-search {
    overflow: hidden;
    display: flex;
    width: 600px;
    max-width: 800px;
    border-radius: 10px;
}

#movie-search input, 
#movie-search button {
    margin: 0;
    padding: 10px; 
    height: 48px; 
    border: none;
    outline: none; 
    border-radius: 0; 
}


#movie-search input {
    width: 75%; 
    padding: 0 20px; 
    font-size: 1em;
    font-weight: 600;
    color: rgb(0, 0, 90);
    font-family: "Lumanosimo", cursive;
}

#movie-search button {
    cursor: pointer;
    background-color: rgb(255, 225, 0);
    color: rgb(0, 0, 90);
    font-family: "Lumanosimo", cursive;
    font-weight: 600;
    font-size: 1em;
    width: 25%;
    transition: transform 200ms ease-in;
}

#movie-search button:hover {
    transform: scale(1.08);
}

#movie-container {
    display: flex;
    width: 100%;
    gap: 2em;
    justify-content: center;
    font-family: Poppins;
    margin-top: 20px;
    padding: auto;
}
#movie-poster img {
    max-width: 100%;
    border-radius: 8px;
}

#movie-details {
    width: 50%;
}

#movie-details #title {
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: "Playfair display";
}

#movie-details #release, #rating {
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


#movie-details #plot {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#movie-details #play-button,
#movie-details #more-info {
    font-size: 1.3em;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: #ffdd00;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-left: 0.5em;
}

#movie-details #play-button {
    background-color: #ffdd00;
    border: 3px solid #fd0;
}

#movie-details #more-info {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
}

#movie-details #play-button:hover,
#movie-details #more-info:hover {
    transform: scale(1.05);
}


#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #00003f;
    margin: auto;
    border: 2px solid #0004ff;
    width: 80%;
    border-radius: 32px;
    color: #fff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.modal-poster-left {
    margin: 0;
}
#modal-poster {
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    margin-right: 20px;
    font-size: 3em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


#modal-details {
    font-family: "Poppins", sans-serif;
    margin: 2em;
}

#modal-details h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 3em;
    margin-bottom: 0.5em;
}

#modal-details h3,
#modal-details p {
    font-size: 1.2em;
    margin-bottom: 1em;
}